@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Concert+One&family=Pacifico&family=Righteous&family=Rubik+Moonrocks&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pacifico", 'Open Sans';
}

.wrapper {
  margin: 15px auto;
  max-width: 1100px;
}

.container-calendar {
  background: #ffffff;
  padding: 15px;
  max-width: 475px;
  margin: 0 auto;
  overflow: auto;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #00a2b7;
  color: #fff;
  border: 1px solid #0aa2b5;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td,
.table-calendar th {
  padding: 5px;
  border: 1px solid #e2e2e2;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold;
  outline: 1px dashed #00bcd4;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

/* sunday */
.date-picker:nth-child(1) {
  color: red;
}

/* friday */
.date-picker:nth-child(6) {
  color: green;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 5px 1em;
}

/* The dropdown container */

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.mines {
  height: 450px;
  overflow-y: scroll;
}

#mydiv{
  display: none;
}

.mycont {
  /* From https://css.glass */
  background: rgba(203, 213, 225, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(203, 213, 225, 0.73);
}

.expenseInput{
  /* From https://css.glass */
  background: #fee2e2;
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid #b91c1c;
}

.bills {
  /* From https://css.glass */
  background: rgba(202, 138, 4, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgba(202, 138, 4, 0.08);
}

#modal{
  display:none;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  /* repeat 4 times and each will have a width of 100px */
  grid-template-columns: repeat(4, 70px);
  /* asdd minmax for the output saying at minimum we want it to be 120px tall but at max we want it to be automatic */
  grid-template-rows: minmax(120px, auto) repeat(5, 70px);
}

.calculator-grid>button {
  cursor: pointer;
  font-style: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid>button:hover {
  background: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  /* make output full screen */
  grid-column: 1 / -1;
  background: rgba(0, 0, 0, .75);
  display: flex;
  /* push to end sides */
  align-items: flex-end;
  /* give spacing around edges */
  justify-content: space-around;
  /* set it vertically not horizontaly */
  flex-direction: column;
  padding: 5px;
  /* make things wrap as they get longer  */
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

[ data-state="selected"] {
  background: black;

}
